<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  
  <context-param>
    <param-name>a_context</param-name>
    <param-value>10</param-value>
  </context-param>
  <context-param>
    <param-name>b_context</param-name>
    <param-value>20</param-value>
  </context-param>


  <listener>
    <listener-class>com.java.servletListners.AppContextListener</listener-class>
  </listener>

  <listener>
    <listener-class>com.java.servletListners.RequestContextListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>homePageServlet</servlet-name>
    <servlet-class>com.java.servletBasics.HomePageServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>aboutUsPageServlet</servlet-name>
    <servlet-class>com.java.servletBasics.AboutUsPageServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>servletLifeCycle</servlet-name>
    <servlet-class>com.java.servletBasics.ServletLifeCycleServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>queryString</servlet-name>
    <servlet-class>com.java.servletBasics.QueryString</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>com.java.servletBasics.StudentServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>paramServlet</servlet-name>
    <servlet-class>com.java.servletBasics.ServletParams</servlet-class>
    <init-param>
      <param-name>x_servlet</param-name>
      <param-value>100</param-value>
    </init-param>
    <init-param>
      <param-name>y_servlet</param-name>
      <param-value>200</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>signUp</servlet-name>
    <servlet-class>com.java.signupAndLogin.SignUp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.java.signupAndLogin.LogIn</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/log-up</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>signUp</servlet-name>
    <url-pattern>/sign-up</url-pattern>
  </servlet-mapping>
  
  

  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/student</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>paramServlet</servlet-name>
    <url-pattern>/param</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>homePageServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>aboutUsPageServlet</servlet-name>
    <url-pattern>/about-us</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>servletLifeCycle</servlet-name>
    <url-pattern>/servlet-life-cycle</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>queryString</servlet-name>
    <url-pattern>/query</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>ApplicationFilter</filter-name>
    <filter-class>com.java.servletFilters.ApplicationFilter</filter-class>
  </filter>

  <filter>
    <filter-name>HomeFilter</filter-name>
    <filter-class>com.java.servletFilters.HomeFilter</filter-class>
  </filter>

  <filter>
    <filter-name>AboutUsFilter</filter-name>
    <filter-class>com.java.servletFilters.AboutFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>ApplicationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>HomeFilter</filter-name>
    <url-pattern>/home</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>AboutUsFilter</filter-name>
    <url-pattern>/about-us</url-pattern>
  </filter-mapping>

</web-app>
